<section class="container">
    <h1> As Panteras Cor de Rosa </h1>
    <div class="informacoes">
        <div class="detalhes">
            <img src="https://raw.githubusercontent.com/italoant/react-projeto-final/main/src/components/Footer/pagFooter/Equipe/img/camil.png"
                alt="">
            <div class="info">
                <h3>Camila “Bala” Silva"</h3>
                <p>cidade:"Recife" estado: "PE" </p>
                <p>
                    sobre="Me chamo camila, mas pode me chamar de cami. Faço parte da equipe de desenvolvimento
                    da aplicação PanimeE, sou apaixonada pelo universo que trazemos aqui, assim também
                    como o mundo da tecnologia. Sou aluna START recife e aqui trago alguns dos meus
                    aprendizados. Minha meta é conhecer de perto esses universos e expandir cada vez mais
                    meus conhecimentos."
                </p>
                <a href="https://github.com/camilams27">Git</a>
                <a href="hhttps://www.linkedin.com/in/camila-camasi/">Linkedin</a>
                <a href="https://www.instagram.com/camii.las/">Instagram</a>
                <a href="https://camilams27.github.io/ProjetoCurriculo/">CV</a>
            </div>
        </div>
        <div class="detalhes">
            <img src="https://raw.githubusercontent.com/italoant/react-projeto-final/main/src/components/Footer/pagFooter/Equipe/img/italo.jpg"
                alt="">
            <div class="info">
                <h3>Italo “numer0s” Antonio"</h3>
                <p>cidade: "Recife" estado:"PE" </p>
                <p>
                    Sobre: "Olá, me chamo Italo tenho 24 anos mas sou conhecido como numer0s, faço parte da equipe As
                    panteras cor de rosa, nas horas vagas costumo assistir animes e conversar com meus amigos, então pra
                    mim
                    realizar esse projeto foi muito confortavel, tanto pelo tema como me relacionar com meus
                    companheiros.
                    Faço parte do Start Recife 2021 e neste projeto espelho todo meu aprendizado as vocês, no Start
                    descobri
                    o meu amor por tecnologia e tenho planos de proximo ano iniciar ADS para aprimorar minhas
                    habilidades."
                </p>
                <a href="https://github.com/italoant"></a>
                <a href="https://www.linkedin.com/in/italo-antonio/"></a>
                <a href="https://www.instagram.com/italoant/"></a>
                <a href="https://italoant.github.io/Atividade-de-avalia-o-HTML-e-CSS/"></a>
            </div>
        </div>

        <div class="detalhes">
            <img src="https://raw.githubusercontent.com/italoant/react-projeto-final/main/src/components/Footer/pagFooter/Equipe/img/camil.png"
                alt="">
            <div  class="info">
                <h3>Thayza “Kythanna” Santana"</h3>
                <p>cidade: "Recife" estado: "PE" </p>
                <p>
                    "Me chamo Thayza Santana e sou conhecida pelos meus amigos por “Kythanna” Tenho 22 anos e no momento sou
                    estudante de Desenvolvimento Front-end pelo Start Recife. No meu tempo livre eu gosto de ler livros e
                    mangás, escrever e publicar algumas histórias de minha autoria, ouvir música, assistir animes e filmes,
                    jogar e sair com meus amigos. Para me conhecer mais um pouco, é só acessar as minhas Redes Sociais."
                </p>
                <a href="https://github.com/thayzasantana"></a>
                <a href="https://www.linkedin.com/in/thayza-santana/"></a>
                <a href="https://www.instagram.com/thayzasantana_/"></a>
                <a href="https://italoant.github.io/Atividade-de-avalia-o-HTML-e-CSS/"></a>
            </div>
        </div>


        <div class="detalhes">
            <img src="https://raw.githubusercontent.com/italoant/react-projeto-final/main/src/components/Footer/pagFooter/Equipe/img/matheus.png"
                alt="">
            <div class="info">
                <h3>Matheus “Deslumbrante” Silva"</h3>
                <p>cidade=:"Recife" estado:"PE" </p>
                <p>
                    Sobre: "Tenho 19 anos, nasci em Recife - Pernambuco. Tive meu primeiro contato com programação os 15
                    anos, quando comecei a estudar Python. Me apaixonei no mesmo momento! Atualmente, estudo Desenvolvento
                    Web e pretendo me especializar em Front-end. Gosto de assistir, ouvir música, jogar um Lolzinho e sair
                    com os meus amigos. Esse sou eu, Matheus Henrique."
                </p>
                <a href="https://github.com/mateushenriquedasilva"></a>
                <a href="https://www.linkedin.com/in/matheus-henrique-54a673197/"></a>
                <a href="https://www.instagram.com/themateusreal/"></a>
                <a href="https://mateushenriquedasilva.github.io/projeto-curriculo/"></a>
            </div>
        </div>
    </div>
</section>