img{
    width: 300px;
    padding: 0.25%;
    border-radius: 10px;
    border: 1px solid black;
}

.detalhes{
    padding: 2%;
    width: 70vw;
    display: flex;
    gap: 2rem;
    border-radius: 20px 5px;
    background: pink;
    margin-bottom: 2%;
    align-items: center;
}
p{
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 1rem;
}
h3{
    margin: 0px 0px 40px 0px;
    font-size: 2.5rem;
}
h1{
    margin: 0px;
    padding: 2rem;
    text-align: center;
    text-shadow: 2px 2px 5px pink;
    text-transform: uppercase;
    font-size: 2.5rem;
}