<div class="container">
    <div class="inputCont">
        <input placeholder="Dragon-ball" (change)="consultarManga()"
        class="input" type="text" [(ngModel)]="searchManga">
    </div>
    <h2>{{ consultarManga() }}</h2>
    <div class="resp" *ngIf="showA()">
        <div class="contResp" *ngFor="let resp of returnPesquisaManga">
            <div routerLink="/detalhes" (click)="detalhesM(resp)">
                <a><img src="{{resp?.attributes?.posterImage?.small}}"></a>
            </div>
        </div>
    </div>
</div>
