.page-footer{
    position: inherit;
    background-color: #FE6688;
    opacity: 80%;
}
ul{
    display: flex;
    justify-content: flex-end;
}

li{
   list-style: none;
   margin: 2%;
}

a{
    text-decoration: none;
    color: white;
}
h4{
    text-align: center;
    margin: 2%;
}
.footer-copyright{
    text-align: center;
}
