<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div routerLink="" class="col l6 s12">
          <h4>PanimE</h4>
        </div>
        <div class="col l4 offset-l2 s12">
          <h4>Links</h4>
          <ul>
            <li><a routerLink="/contato" class="grey-text text-lighten-3">Contato</a></li>
            <li><a routerLink="/equipe" class="grey-text text-lighten-3" >Equipe</a></li>
            <li><a routerLink="/sobre" class="grey-text text-lighten-3" >Sobre</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        &copy; 2021 Copyright - As Panteras Cor de Rosa
      </div>
    </div>
</footer>
