<div class="container" >
    <div id='container-dois'>
        <div id='esquerda'>
            <img src={{imagem}} alt=""/>
            <input placeholder="Envie a URL da sua imagem"  type="text"/>
            <button class="botaoEnviar" (click)="trocarImg()">enviar</button>
        </div>
        <div id='direita'>
            <h3></h3>
            <p><span>Usuário: @{{ usuario }}</span></p>
            <p><span>Email: {{ email }}</span></p>
            <p><span>Data de Nascimento: {{ data  }}</span></p>
            <div id="butao_delete_account">
                <a><button (click)="deleteAcc()" >Excluir Conta</button></a>
            </div>
        </div>
    </div>
</div>
