<div class="container">
    <div class="inputCont">
        <input placeholder="Dragon-ball" class="input" type="text" (change)="consultarAnime()" [(ngModel)]="searchAnime">
    </div>
    <h2>{{ consultarAnime() }}</h2>
    <div class="resp" *ngIf="showA()">
        <div class="contResp" *ngFor="let resp of returnPesquisa">
            <div routerLink="/detalhes" [queryParams]="{anime: resp.id}" (click)="detalhesA(resp)">
                <a><img src="{{resp?.attributes?.posterImage?.small}}"></a>
            </div>
        </div>
    </div>
</div>