.contForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

/* .form{
    background-color: #FFBDBF;
    width: 38vw;
    margin-top: 5vh;
    margin-bottom: 1.8vh;
    text-align: center;
    border-radius: 20px;
    padding: 7vh;
    box-shadow: 1px 1px rgba(0, 0, 0, 25%);
}

h1{
    font-size: 64px;
    color: #FFFFFF;
    text-shadow: .5px .5px rgba(241, 110, 165, 50);
    margin: 0;
}

h4{
    text-shadow: 2px 2px 5px var(--salmao)
}

label{
    font-size: 30px;
    margin-bottom: 1.5vh;
    color: #FFFFFF;
    text-shadow: .5px .5px rgba(241, 110, 165, 50);
}
.mensagem{
    font-size: 1.3rem;
    margin-top: 1.5vh;
    color: #FF0000;
}

.campos-form{
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campos-form input{
    padding: 15px;
    width: 25vw;
    min-height: 6vh;
    border: none;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #A9A9A9;
    outline: none;
}

.campos-form p{
   text-align: center;
}

.campos-form select, .campos-form textarea{
    width: 25vw;
    border-radius: 8px;
    outline: none;
    padding: 2%;
    border: none;
} 

#opcao *{
    background: whitesmoke;
}

select option:checked {
    background: var(--pink2);
}

label{
    text-align: left;
}

#esqueceu-senha{
    color: #FFFFFF;
    padding-top: 2vh;
}

#contato{
    color: #483D8B;
    text-decoration: none;
}

#contato:hover{
    color: #FE6688;
} */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 5vh;
}
.input-field{
    margin: 0 auto;
    color: black;
}
.contButton{
    display: flex;
    justify-content: space-around;
    width: 30vw;
}