.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
}

.contButton{
    display: flex;
    justify-content: space-around;
    width: 29%
}

.ng-invalid.ng-touched:not(form){
    border-bottom: solid 1px red;
    box-shadow: red;
}
#btn1{
    background-color: #F16EA5;
    border: #F16EA5 1px solid;


}
#btn2{
    background-color: #FE6688;
    border: #F16EA5 1px solid;


}
.error{
    text-align: center;
}
#esqueceu-senha{
    margin: 2%;
}
#esqueceu-senha > a {
    color: blue;
    text-decoration: none;
}

#esqueceu-senha > a:hover{
    color: #FE6688;
}

.container{
    flex-direction: column;
}


.form-control{
    width: 20vw;
}