<form class="container" [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <h5> Preencha todos os campos </h5>

    <div class="mb-3" >
        <label for="nome" class="form-label">Nome</label>
        <input type="text" formControlName="nome" class="form-control" id="nome">
        <app-campo-error class="error" [error]="verificarMudancas('nome')" mensagem="Nome invalido">

        </app-campo-error>
    </div>
    <div class="mb-3">
        <label for="inputUser" class="form-label">Usuario</label>
        <input type="text" formControlName="user" class="form-control" id="inputUser">
        <app-campo-error class="error" [error]="verificarMudancas('user')" mensagem="Usuario invalido">

        </app-campo-error>

    </div>
    <div class="mb-3">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" formControlName="email" class="form-control" id="inputEmail">
        <app-campo-error class="error" [error]="verificarMudancas('email')" mensagem="Email invalido">

        </app-campo-error>
    </div>
    <div class="mb-3">
        <label for="inputPassword" class="form-label">Senha</label>
        <input type="password" formControlName="pass" class="form-control" id="inputPassword">
        <app-campo-error class="error" [error]="verificarMudancas('pass')" mensagem="Senha invalida">

        </app-campo-error>
    </div>
    <div class="mb-3">
        <label for="dataNascimento" class="form-label">Data de nascimento</label>
        <input type="date" formControlName="date" class="form-control" id="dataNascimento">
    </div>


    <div class="contButton">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <button (click)="limpar()" class="btn btn-primary">Cancelar</button>
    </div>
    
</form>