<carousel>
  <slide>
    <img class="carouselImg"
      src="https://p4.wallpaperbetter.com/wallpaper/303/584/954/anime-girl-anime-pink-hd-wallpaper-preview.jpg"
      alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img class="carouselImg" src="https://wallpapercave.com/wp/wp5702075.png" alt="second slide"
      style="display: block; width: 100%;">
  </slide>
  <slide>
    <img class="carouselImg" src="https://wallpaperaccess.com/full/818292.png" alt="third slide"
      style="display: block; width: 100%;">
  </slide>
</carousel>

<div class="{{ loadingFundo() }}"><img class="loading" src={{loadingImg()}}></div>
<h1> {{ loading == false ? null : 'Anime'}} </h1>
<div class="resp" *ngIf="anime">
  <div class="contResp" *ngFor="let resp of anime">
    <div routerLink="/detalhes" (click)="detalhes(resp)">
      <img class="imgResp" src="{{resp.attributes.posterImage.small}}">
      <p>{{resp.attributes.titles.en_jp || resp.attributes.titles.en || resp.attributes.titles.en_us}}</p>
    </div>
  </div>

  
  <!-- <div id="containerBtn" class="container">
          <button id="btn1" class="waves-effect waves-light btn-small" (click)="previousPage()">Previous</button>
          <button id="btn2" class="waves-effect waves-light btn-small" (click)="nextPage()">Next</button>
      </div>  -->
</div>


<h1> {{ loading == false ? null : 'Manga'}} </h1>
<div class="resp" *ngIf="anime">
  <div class="contResp" *ngFor="let resp of manga">
    <div routerLink="/detalhes" (click)="detalhes(resp)">
      <img class="imgResp" src="{{resp.attributes.posterImage.small}}">
      <p>{{resp.attributes.titles.en_jp || resp.attributes.titles.en || resp.attributes.titles.en_us}}</p>
    </div>
  </div>

  <!-- <div id="containerBtn" class="container">
          <button id="btn1" class="waves-effect waves-light btn-small" (click)="previousPageM()">Previous</button>
          <button id="btn2" class="waves-effect waves-light btn-small" (click)="nextPageM()">Next</button>
      </div> -->

</div>