<!-- <app-carousel-home></app-carousel-home> -->
<div class="container">
    <h1> Animes </h1>
    <div class="resp" *ngIf="show()">
        <div class="contResp" *ngFor="let resp of anime">
            <div routerLink="/detalhes" (click)="detalhesAnime(resp)">
                <img src="{{resp.attributes.posterImage.small}}">
                <p>{{resp.attributes.titles.en_jp || resp.attributes.titles.en || resp.attributes.titles.en_us}}</p>
            </div>
        </div>    
    </div>
    <h1> Manga </h1>
    <div class="resp" *ngIf="show()">
        <div class="contResp" *ngFor="let resp of manga">
            <div routerLink="/detalhes" (click)="detalhesManga(resp)">
                <img src="{{resp.attributes.posterImage.small}}">
                <p>{{resp.attributes.titles.en_jp || resp.attributes.titles.en || resp.attributes.titles.en_us}}</p>
            </div>
        </div>    
    </div>
</div>