<div id="navbar">
  <div>
    <ul class="nav">
      <li class="nav-item">
        <img routerLink="" class="logo" src="../../../assets/logo.png" />
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/anime">Anime</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/manga">Manga</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/noticias">Noticias</a>
      </li>
    </ul>
  </div>

  <div *ngIf="trocarNav === false">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cadastro">Cadastro</a>
      </li>
      <li>
        <input (click)="setTheme()" type="checkbox" id="falseBtn" />
        <label for="falseBtn">
          <img class="theme" src="../../../assets/theme.png" />
        </label>
      </li>
      <!-- <li (click)="setTheme()" class="nav-item">
        <img class="theme" src="../../../assets/theme.png" alt="">
      </li> -->

    </ul>

  </div>

  <div class="navRight" *ngIf="trocarNav === true">
    <div class="imgNome">
      <img routerLink="/perfil" class="imgPerfil" src="{{imagem}}" alt="">
      <p>Olá, {{nome}}</p>
    </div>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/perfil">Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="deslog()">Sair</a>
      </li>
      <li (click)="setTheme()" class="nav-item">
        <img class="theme" src="../../../assets/theme.png" alt="">
      </li>

    </ul>
  </div>
</div>

<nav id="mobileMenu" class="navbar navbar-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/anime">Anime</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/manga">Manga</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/noticias">Noticias</a>
          </li>

          <li class="nav-item dropdown" *ngIf="trocarNav === false">
            <a class="nav-link dropdown-toggle" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Login/Cadastro
            </a>
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
              <li>
                <a class="dropdown-item" routerLink="/login">Login</a>
              </li>
              <li><a class="dropdown-item" routerLink="/cadastro">cadastro</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
            </ul>
          </li>


          <li class="nav-item dropdown" *ngIf="trocarNav === true">
            <a class="nav-link dropdown-toggle" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Perfil/Sair
            </a>
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
              <li>
                <a routerLink="/perfil" class="dropdown-item">Perfil</a>
              </li>
              <li><a class="dropdown-item" (click)="deslog()">Sair</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>