<div class="contForm">
    <p>{{mensagem}}</p>
    <div>
        <div class="row">
            <div class="input-field col s3">
                <input placeholder="Usuario" id="usuario" type="text" class="validate" [(ngModel)]="user">
            </div>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="input-field col s3">
                <input placeholder="Senha" id="senha" type="text" class="validate" [(ngModel)]="senha">
            </div>
        </div>
    </div>
    <div class="contButton">
        <a (click)="login()" class="waves-effect waves-light btn-small">Entrar</a>
        <a routerLink="/cadastro" class="waves-effect waves-light btn-small">Cadastre-se</a>
    </div>
    <p id="esqueceu-senha">Esqueceu a senha? <a id="contato">Clique aqui.</a></p>
</div>