:root{
    --nav: rgba(254,133,138,80);
    --body: #FFFFFF;
    --text: rgba(85, 72, 76, 0.9);
    --border: #FE858A;
    
}

:root .dark{
    --nav: linear-gradient(rgba(85, 72, 76, 80), rgba(85, 72, 76, 40), rgba(85, 72, 76, 20), rgba(85, 72, 76, 10), rgba(85, 72, 76, 2));
    --body: rgba(85, 72, 76, 0.9);
    --text: #FFFFFF;
    --border: #FFFFFF;    
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    height: 100vh;
    background-color: var(--body);
}
p, h1, h2, h3, h4, h5{
    color: var(--text);
}


#falseBtn{
    display: none;
}
#falseBtn:checked + label > img {
    animation: theme 1s linear running;
}

h1, h2, h3, h4, h5{
    color: var(--text);
    text-shadow: 2px 2px 5px #FFBDBF;
}
.selector-for-some-widget {
    box-sizing: content-box;
}

.loading {
    border: none;
    width: 150px;
    box-shadow: 0 0 0 0;
    animation: loading 2s linear infinite;
}

.bg-loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

input{
    border: none;
    border-bottom: 2px solid black;
}

@keyframes loading{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes theme{
    0%{
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    
}

