.buttonCont{
    display: flex;
    width: 20vw;
    justify-content: space-around;
    margin: 2%;
}
input{
    margin: .8%;
}
.campos-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1%;
}