.container{
    width: 40vw;
    text-align: left;
}
.buttonCont{
    display: flex;
    justify-content: space-around;
    margin: 2%;
}
#enviar{
    background-color: #F16EA5;
}
#cancelar{
    background-color: #FE6688;
}